<form id="tab_plugin_LSqDeltaCalibration" class="form-horizontal">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#current_geometry" data-toggle="tab">{{ _('Current Geometry') }}</a>
    </li>
    <li data-bind="Xvisible: printerAbl()">
      <a href="#settings_able_mlc" data-toggle="tab">{{ _('Suggested Geometry') }}</a>
    </li>
    <li data-bind="Xvisible: printerAbl()" class="correction_preview">
      <a href="#settings_able_mp" data-toggle="tab">
        <div data-bind="sclick: correctionPreview()">{{ _('Probe Points') }}</div>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="current_geometry" class="tab-pane active">
      <div data-bind="xvisible: !printerOnline()" class="message warning">
        {{ _('Please connect your printer to get its capabilities') }}
      </div>
      <div class="control-group">
      <label class="control-label">{{ _('Steps per mm') }}</label>
        <div class="controls">
          <table>
            <tr>
              <td>
                X: <span data-bind="text: geometry().Prop">dd</span>
              </td>
              <td><input type="text" data-bind="value: geometry().str" step="0.1" style="width:90px"/>
              </td>
              <td>Y:</td>
              <td>
                <input type="number" step="0.1" style="width:90px"/>
              </td>
              <td>Z:</td>
              <td>
                <input type="number" step="0.1" style="width:90px"/>
              </td>
            </tr>
          </table>
          <span class="help-inline">Steps per millimiter, affected by belt strech.</span>
        </div>
      </div>
    </div>
  </div>
</form>
  <!--
    <div class="input-append">
    <input type="text" class="input-xxlarge" data-bind="value: newUrl"/>
    <button class="btn btn-primary" data-bind="click: goToUrl">{{ _('Go') }}</button>
  </div>-->

