<form id="tab_plugin_LSqDeltaCalibration" class="form-horizontal">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#current_geometry" data-toggle="tab">{{ _('Current Geometry') }}</a>
    </li>
    <li data-bind="Xvisible: printerAbl()">
      <a href="#settings_able_mlc" data-toggle="tab">{{ _('Suggested Geometry') }}</a>
    </li>
    <li data-bind="Xvisible: printerAbl()" class="correction_preview">
      <a href="#settings_able_mp" data-toggle="tab">
        <div data-bind="sclick: correctionPreview()">{{ _('Probe Points') }}</div>
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="current_geometry" class="tab-pane active">
      <div data-bind="xvisible: !printerOnline()" class="message warning">
        {{ _('Please connect your printer to get its capabilities') }}
      </div>
      <div class="control-group">
      <label class="control-label">{{ _('Steps per mm') }} (X,Y,Z):</label>
        <div class="input-append">
            <input type="number" data-bind="value: geometry().StepsX" step="0.1" class="input-small"/>
            <input type="number" data-bind="value: geometry().StepsY" step="0.1" class="input-small"/>
            <input type="number" data-bind="value: geometry().StepsZ" step="0.1" class="input-small"/>
        </div>
      </div>
        <div class="control-group">
            <div class="input-append">
                <button class="btn btn-primary" data-bind="click: fetchGeometry">{{ _('Fetch Geometry') }}</button>
            </div>
        </div>
    </div>
  </div>
</form>
  <!--
    <div class="input-append">
    <input type="text" class="input-xxlarge" data-bind="value: newUrl"/>
    <button class="btn btn-primary" data-bind="click: goToUrl">{{ _('Go') }}</button>
  </div>-->

