<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Firmware') }}</label>
        <div class="controls">
            <input type="text" class="input-small" data-bind="value: settings.Firmware">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Init Commands') }}</label>
        <div class="controls">
            <input type="text" class="input-small" data-bind="value: settings.InitCommands">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Safe Height mm') }}</label>
        <div class="controls">
            <input type="text" class="input-small" data-bind="value: settings.SafeHeight">
        </div>
    </div>
</form>
