      <script type="text/html" id="CalibrationDeltaTemplate">
        <div class="span2" data-bind="text: (newData[0]-($root.showAsCorrections()=='true' ? origData[0] : 0)).toFixed(4)"></div>
        <div class="span2" data-bind="text: (newData[1]-($root.showAsCorrections()=='true' ? origData[1] : 0)).toFixed(4)"></div>
        <div class="span2" data-bind="text: (newData[2]-($root.showAsCorrections()=='true' ? origData[2] : 0)).toFixed(4)"></div>
      </script>

      <script type="text/html" id="CalibrationDeltaTemplateSingle">
        <div class="span6" data-bind="text: (newData-($root.showAsCorrections()=='true' ? origData : 0)).toFixed(4)"></div>
      </script>
      
      <div class="row-fluid">
        <h4>
          <i class="fa fa-cog fa-lg fa-spin" data-bind="visible: isCalibrating()"></i><a href="#collapseCalibration" id="collapseCalibrationControl"  data-toggle="collapse" class="collapsed" data-bind="visible: isReadyToCalibrate()"><i class="fa fa-caret-right fa-lg"></i><i class="fa fa-caret-down fa-lg"></i></a>
          {{ _('Calibration') }} <span data-bind="template: { name: 'ProbingDataTemplate', if:CalibratedData , data: CalibratedData }"></span>
          <button class="btn btn-primary pull-right" data-bind="click: applyCalibration, enable: isReadyToCalibrate()" title="{{ _('Configure the machine with the calibrated geometry.') }}">{{ _('Apply') }}</button>
        </h4>
        <div class="row-fluid collapse" id="collapseCalibration">
          <div class="row-fluid">
            <div class="span4">
              <H5>Parameter</H5>
            </div>
            <div class="input-append span5">
                <select class="form-control span6" data-bind="value: showAsCorrections">
                    <option value="true">Corrections</option>
                    <option value="false">Abs Values</option>
                </select>
            </div>
            <div class="input-append span2">
              <H5>Calibrate</H5>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">{{ _('Steps per unit') }}</div>
                <span data-bind="template: { name: 'CalibrationDeltaTemplate', if:CalibratedData , data: {newData:newGeometry().StepsPerUnit, origData:machine().Geometry()?.StepsPerUnit} }"></span>
            <div class="input-append span1">
              <input type="checkbox" data-bind="checked: calibrate.StepsPerUnit, enable: !(calibrate.RodLength() && calibrate.DeltaRadius())" title="{{ _('Calibrate') }}" />
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">{{ _('Tower Offset') }}</div>
                <span data-bind="template: { name: 'CalibrationDeltaTemplate', if:CalibratedData , data: {newData:newGeometry().TowerOffset, origData:machine().Geometry()?.TowerOffset} }"></span>
            <div class="input-append span1">
              <input type="checkbox" data-bind="checked: calibrate.TowerOffset, enable: !calibrate.DeltaRadiusAdjust()" title="{{ _('Calibrate') }}" />
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">{{ _('Max Height') }}</div>
            <span data-bind="template: { name: 'CalibrationDeltaTemplateSingle', if:CalibratedData , data: {longSpan: true, newData:newGeometry().Height, origData:machine().Geometry()?.Height} }"></span>
            <div class="input-append span1">
              <input type="checkbox" data-bind="checked: calibrate.MaxHeight, enable: !calibrate.EndStopOffset()" title="{{ _('Calibrate') }}" />
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">{{ _('Endstop Offset') }}</div>
            <span data-bind="template: { name: 'CalibrationDeltaTemplate', if:CalibratedData , data: {newData:newGeometry().EndStopOffset, origData:machine().Geometry()?.EndStopOffset} }"></span>
            <div class="input-append span1">
              <input type="checkbox" data-bind="checked: calibrate.EndStopOffset, enable: calibrate.MaxHeight" title="{{ _('Calibrate') }}" />
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">{{ _('Rod Length') }}</div>
            <span data-bind="template: { name: 'CalibrationDeltaTemplateSingle', if:CalibratedData , data: {longSpan: true, newData:newGeometry().DiagonalRod, origData:machine().Geometry()?.DiagonalRod} }"></span>
            <div class="input-append span1">
              <input type="checkbox" data-bind="checked: calibrate.RodLength, enable: (!calibrate.RodLenghtAdjust() && !(calibrate.StepsPerUnit() && calibrate.DeltaRadius()))" title="{{ _('Calibrate') }}" />
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">{{ _('Rod Length Adjust') }}</div>
            <span data-bind="template: { name: 'CalibrationDeltaTemplate', if:CalibratedData , data: {newData:newGeometry().DiagonalRodAdjust, origData:machine().Geometry()?.DiagonalRodAdjust} }"></span>
            <div class="input-append span1">
              <input type="checkbox" data-bind="checked: calibrate.RodLenghtAdjust, enable: calibrate.RodLength" title="{{ _('Calibrate') }}" />
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">{{ _('Delta Radius') }}</div>
            <span data-bind="template: { name: 'CalibrationDeltaTemplateSingle', if:CalibratedData , data: {longSpan: true, newData:newGeometry().Radius, origData:machine().Geometry()?.Radius} }"></span>
            <div class="input-append span1">
              <input type="checkbox" data-bind="checked: calibrate.DeltaRadius, enable: (!calibrate.DeltaRadiusAdjust() && !(calibrate.StepsPerUnit() && calibrate.RodLength()))" title="{{ _('Calibrate') }}" />
            </div>
          </div>

          <div class="row-fluid">
            <div class="span4">{{ _('Delta Radius Adjust') }}</div>
            <span data-bind="template: { name: 'CalibrationDeltaTemplate', if:CalibratedData , data: {newData:newGeometry().RadiusAdjust, origData:machine().Geometry()?.RadiusAdjust} }"></span>
            <div class="input-append span1">
              <input type="checkbox" data-bind="checked: calibrate.DeltaRadiusAdjust , enable: (calibrate.DeltaRadius() && !calibrate.TowerOffset())" title="{{ _('Calibrate') }}" />
            </div>
          </div>
        </div>
      </div> 
