<form id="tab_plugin_DuCalibrator" class="form-horizontal">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#instructions_tab" data-toggle="tab">{{ _('Instructions') }}</a>
    </li>
    <li>
      <a href="#params_tab" data-toggle="tab">{{ _('Parameters') }}</a>
    </li>
    <li>
      <a href="#calibrate_tab" data-toggle="tab">{{ _('Calibrate') }}</a>
    </li>
  </ul>

  <div class="tab-content" style="border-left:none; border-right:none; border-bottom:none">

    <div id="instructions_tab" class="tab-pane active">
      {% filter markdown %}{% include "Instructions.md" %}{% endfilter %}
    </div>

    <div id="params_tab" class="tab-pane">
      {% include "Parameters.jinja2" %}
    </div>

    <div id="calibrate_tab" class="tab-pane">

      <div class="alert" data-bind="visible: !machine().IsReady()">
        {{ _('Please connect your printer for calibration') }}
      </div>

      {% include "Geometry.jinja2" %}
      
      {% include "Probing.jinja2" %}

      {% include "Calibration.jinja2" %}

      {% include "History.jinja2" %}

    </div>
</div>
</form>

<script type="text/html" id="CollapseTemplate">
  <i class="fa fa-caret-down fa-lg" data-bind="click: Hide, visible: Visible"></i>
  <i class="fa fa-caret-right fa-lg" data-bind="click: Show, visible: IsHidden"></i>
</script>