
<form class="form-horizontal">
    <fieldset id="settings-machine">
        <legend>{{ _('Machine settings') }}</legend>
        <div class="control-group">
            <label class="control-label" for="settings_Firmware">{{ _('Firmware') }}</label>
            <div class="controls">
                <div class="input-append">
                    <select class="input" data-bind="value: settings.Firmware" id="settings_Firmware">
                        <option>Marlin</option>
                        <option>Simulated</option>
                    </select>
                </div>
                <span class="help-inline">The machine type and firmware being used.</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="settings_InitCommands">{{ _('Init Commands') }}</label>
            <div class="controls">
                <div class="input-append">
                    <textarea class="input" rows=5 data-bind="value: settings.InitCommands" id="settings_InitCommands"> </textarea>
                </div>
                <span class="help-inline">Initialization commands to be send to the machine before every probe, at the very least homing command.</span>
            </div>
        </div>        
        <div class="control-group">
            <label class="control-label" for="settings_SafeHeight">{{ _('Safe Height') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" step="any" min="1" class="input-mini text-right" data-bind="value: settings.SafeHeight" id="settings_SafeHeight">
                    <span class="add-on">mm</span>
                </div>
                <span class="help-inline">Safe height that the nozzle can travel from probe point to probe point without dragging the probe across the bed. Should be bigger than your probe z offset.</span>
            </div>
        </div>
    </fieldset>
</form>
