      <h4>
        <i class="fa fa-cog fa-lg fa-spin" data-bind="visible: isFetchingGeometry()"></i><a href="#collapseGeometry" id="collapseGeometryControl" data-toggle="collapse" class="collapsed" data-bind="visible: machine().Geometry()"><i class="fa fa-caret-right fa-lg"></i><i class="fa fa-caret-down fa-lg"></i></a>
        {{ _('Current Geometry') }}
        <button class="btn btn-primary pull-right" data-bind="click: fetchGeometry, enable: isReadyForCommands()" title="{{ _('Reads the current geometry from the machine.') }}">{{ _('Fetch Geometry') }}</button>
      </h4>
      <div class="row-fluid collapse" data-bind="" id="collapseGeometry">
        <div class="row-fluid">
          <div class="span3">
            <H5>Parameter</H5>
          </div>
          <div class="input-append span6">
            <H5>Value</H5>
          </div>
        </div>

        <div class="row-fluid">
          <div class="span3">{{ _('Steps per unit') }}</div>
          <div class="span2" data-bind="text: machine().Geometry()?.StepsPerUnit[0].toFixed(4)"></div>
          <div class="span2" data-bind="text: machine().Geometry()?.StepsPerUnit[1].toFixed(4)"></div>
          <div class="span2" data-bind="text: machine().Geometry()?.StepsPerUnit[2].toFixed(4)"></div>
        </div>

        <div class="row-fluid">
          <div class="span3">{{ _('Tower Offset') }}</div>
          <div class="span2" data-bind="text: machine().Geometry()?.TowerOffset[0].toFixed(4)"></div>
          <div class="span2" data-bind="text: machine().Geometry()?.TowerOffset[1].toFixed(4)"></div>
          <div class="span2" data-bind="text: machine().Geometry()?.TowerOffset[2].toFixed(4)"></div>
        </div>

        <div class="row-fluid">
          <div class="span3">{{ _('Max Height') }}</div>
          <div class="span6" data-bind="text: machine().Geometry()?.Height.toFixed(4)"></div>
        </div>

        <div class="row-fluid">
          <div class="span3">{{ _('Endstop Offset') }}</div>
          <div class="span2" data-bind="text: machine().Geometry()?.EndStopOffset[0].toFixed(4)"></div>
          <div class="span2" data-bind="text: machine().Geometry()?.EndStopOffset[1].toFixed(4)"></div>
          <div class="span2" data-bind="text: machine().Geometry()?.EndStopOffset[2].toFixed(4)"></div>
        </div>

        <div class="row-fluid">
          <div class="span3">{{ _('Rod Length') }}</div>
          <div class="span6" data-bind="text: machine().Geometry()?.DiagonalRod.toFixed(4)"></div>
        </div>

        <div class="row-fluid">
          <div class="span3">{{ _('Rod Length Adjust') }}</div>
          <div class="span2" data-bind="text: machine().Geometry()?.DiagonalRodAdjust[0].toFixed(4)"></div>
          <div class="span2" data-bind="text: machine().Geometry()?.DiagonalRodAdjust[1].toFixed(4)"></div>
          <div class="span2" data-bind="text: machine().Geometry()?.DiagonalRodAdjust[2].toFixed(4)"></div>
        </div>

        <div class="row-fluid">
          <div class="span3">{{ _('Delta Radius') }}</div>
          <div class="span6" data-bind="text: machine().Geometry()?.Radius.toFixed(4)"></div>
        </div>

        <div class="row-fluid">
          <div class="span3">{{ _('Delta Radius Adjust') }}</div>
          <div class="span2" data-bind="text: machine().Geometry()?.RadiusAdjust[0].toFixed(4)"></div>
          <div class="span2" data-bind="text: machine().Geometry()?.RadiusAdjust[1].toFixed(4)"></div>
          <div class="span2" data-bind="text: machine().Geometry()?.RadiusAdjust[2].toFixed(4)"></div>
        </div>
      </div>
