      <div class="control-group">
          <label class="control-label">{{ _('Probing Radius') }} :</label>
          <div class="input-append">
              <input type="number" data-bind="value: probeRadius" step="1" class="input-small"/>
          </div>
      </div>
      <div class="control-group">
          <label class="control-label">{{ _('Probe points') }} :</label>
          <div class="input-append">
              <input type="number" data-bind="value: probePointCount" step="1" class="input-small"/>
          </div>
      </div>
